<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <div class="row justify-content-between">
        <a href="/profile/<%= post.createdByName%>&<%= post.user%>">     <h3 class="col-3" style="color: blue;"><%= post.createdByName%></h3></a>
        <h3><%= post.title %></h3>
        <h3><%= post.caption %></h3>
        <h3><%= post.userIdsLiked[0] %></h3>
        <span class='fa-plus'>heloooooooooooooooooooooooo</span>
      </div>
      <img class="img-fluid" src="<%= post.image%>" />
      <div class="row justify-content-between">
        
        <form
        class="col-1"
        action="/post/likePost/<%= post.id %>?_method=PUT"
        method="POST"
      >
        <button class="btn btn-primary fa fa-heart" type="submit"></button>
      </form>
<!-- like and unlike -->
      <% if (post.userIdsLiked.includes(user.id) == false ) { %>
        <form class="col-1" action="/post/likedPost/<%=post.id%>&<%=user.id%>?_method=PUT" method="POST">
          <!-- //using method override to change forms POST method to PUT -->
          <button class="btn btn-primary fa fa-heart" type="submit">  
            <%= post.likes%>
          </button>
        </form>
    <% } else { %>       
      <form   class="col-1" action="/post/unlikePost/<%=post.id%>&<%=user.id%>?_method=PUT" method="POST">
        <!-- //using method override to change forms POST method to PUT -->
        <button style="color:red" class="btn btn-primary fa fa-heart" type="submit"> 
          <%= post.likes%>
        </button>
      </form>
      <% } %> 












        <h3 class="col-3">Likes: <%= post.likes %></h3>
        <!-- //if the user id match the user id of the user that posted the post match show them the delete button trashcan icon-->
        <%if(post.user == user.id){ %>
        <form action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-3">
        <!-- //using methodover to change form POST method to DELETE -->
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%>
      </div>
    </div>
  



    <form action="/comment/createComment/<%=post._id%>"  method="POST">
      <div class="mb-3">
        <label for="comment" class="form-label">Comment</label>
        <textarea type="text" class="form-control" id="comment" name="comment"></textarea>
      </div>
      <button type="submit" class="btn btn-primary" value="Upload">
        Submit
      </button>
    </form>
   <% if (comments.createdByName == user.userName ){%> 
    <form action="/comment/deleteComment/<%= post.id %>?_method=DELETE"
       method="POST"
       class="col-3">
       
       <button class="btn btn-primary fa fa-trash" type="submit"></button>
     </form>
    <% } %>

    <ul> 
      <% for(var i=0; i < comments.length; i++) {%>
        <li class="col-6 justify-content-between mt-5">
         <span style="color:blue;font-size: 25px;"><a href="/profile/<%= post.createdByName%>&<%= post.user%>">     <%= post.createdByName%>:</a>  
          <%= comments[i].comment %> 
          <% if (comments[i].createdByName == user.userName ){%> 
            <form action="/comment/deleteComment/<%=post.id%>/<%=comments[i]._id %>?_method=DELETE"
               method="POST"
               class="col-3">
               
               <button class="btn btn-outline-danger" type="submit">DELETE</button>
             </form>
            <% } %>
              <% if (comments[i].userIds.includes(user.id) == false ) { %>
                    <form class="col-1" action="/comment/likeComment/<%= comments[i]._id %>&<%=post.id%>&<%= user.id  %>?_method=PUT" method="POST">
                      <!-- //using method override to change forms POST method to PUT -->
                      <button class="btn btn-primary fa fa-heart" type="submit">  
                        <%= comments[i].likes%>
                      </button>
                    </form>
                <% } else { %>       
                  <form   class="col-1" action="/comment/unlikeComment/<%= comments[i]._id %>&<%=post.id%>&<%= user.id%>?_method=PUT" method="POST">
                    <!-- //using method override to change forms POST method to PUT -->
                    <button style="color:red" class="btn btn-primary fa fa-heart" type="submit"> 
                       <%= comments[i].likes%>
                    </button>
                  </form>
                  <% } %>
            </li>
      <% } %>
    </ul>

    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div>
  </div>
</div>
<script src='js/main.js'></script>
<%- include('partials/footer') -%>
