<!-- //reuseable ejs header in the partials folder -->
<%- include('partials/header') -%>



<div class="container">
  <div class="mt-5">
    <h2>Messages:</h2>
    <div id ="messages" class="messages">
      <ul>
          <% for(var i=0; i<messages.length; i++) {%>
              <li>
              <span><h3><%=messages[i].message[0]%>:</h3></span>  <span><%=messages[i].message[1]%></span>
              </li>
            <% } %>
      </ul>           
     
    </div>
    <!-- //form for messaging section -->
    <!-- <form  id="messageReplyForm" action="/message/<%= profile[0].userName%>/<%= profile[0].user %>" method="POST">
      <div class="mb-3">
          <label for="message" class="form-label">Message <%= profile[0].userName%></label>
          <textarea type="text" class="form-control" id="message" name="message"> </textarea>
      </div>
      <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
    </form> -->
    <!-- form to sumbit a new post request with the route post/createPost-->
    <form  id="messageForm" action="/message/<%= profile[0].userName%>/<%= profile[0].user %>" method="POST">
      <div class="mb-3">
          <label for="message" class="form-label">Message <%= profile[0].userName%></label>
          <textarea type="text" class="form-control" id="message" name="message"> </textarea>
      </div>
      <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
    </form>
  </div>


  <div class="col-2 justify-content-between mt-5" id = "messageBtn">
    <button class="btn btn-primary">Message <%= profile[0].userName%></button>
  </div>
  <form action="/profile/profileView" enctype="multipart/form-data" method="POST">
    <div class="row mt-5">
        <div>
            <div  class="col-2 justify-content-between mt-5"><img class="img-fluid" src="<%= profile[0].imageProfile %> "></div>
              <!-- display user's name -->
                <p><strong>User Name</strong>: <%= profile[0].userName %></p>      
                <p><strong>Dog's Name: <%=profile[0].dogName%> </p>
                <p>userAbout: <%= profile[0].userAbout%></p>
                <p>Location: <%=profile[0].areaCode%></p>
                <p>Interests: <%=profile[0].userActivities%></p>
               <p>Dog size: <%=profile[0].dogSize%></p>
              <p>Play style: <%=profile[0].dogStyle%></p> 
            </div>
        <a href="/logout" class="col-3 btn btn-primary">Logout</a>
   </div>
  </form>


      <!-- //this section displays all the users past posts -->
      <div class="col-6">
        <ul class="row list-unstyled">
          <!-- //grab all the posts the user has submitted from the database posts varible which was passed in by the post controller using a for loop -->
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <!-- //this ia a link to each specific post -->
            <a href="/post/<%= posts[i]._id%>">
              <!-- //grabs just the image and displays it as the users post no other text is displayed -->
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>  
      </div>  
</div>
<!-- //local js for profileview -->
<script src='../js/profileView.js'></script>
<!-- //this is the reusable ejs foot -->
<%- include('partials/footer') -%>